html {
    font-size: 15pt;

    max-width:900px; 
    background :#000000;
    font-family :Arial ;
}
html{
  
}
.bb{
  z-index: -1;
  position :absolute ;
  top:-600px;
  left:-90px;
      background-image: url("./g.gif");
height:800vh;
width :210%;
background-repeat: no-repeat;
background-size: contain;
overflow :hidden;
max-width:2000px;
max-height :2000px; 
}

.u{
  
  opacity: 0;
  color:#00C4FF;
}
#u{
 color :#00C4FF;
}
.u2 {

  opacity: 0;
  color: #00C4FF;
}
.u3 {

  opacity: 0;
  color: #00FF78;
}
#scro{
  overflow :scroll;
  height :800px;
  background:#FF009021;
}
.u4 {

  opacity: 0;
  color: #00C4FF;
}
.u5 {

  opacity: 0;
  color: #00C4FF;
}
.u6 {

  opacity: 0;
  color: #00C4FF;
}
.u7 {

  opacity: 0;
  color: #00C4FF;
}
.u8 {

  opacity: 0;
  color: #00C4FF;
}
.u9 {

  opacity: 0;
  color: #00C4FF;
}
.u10 {

  opacity: 0;
  color: #00C4FF;
}
.u11 {

  opacity: 0;
  color: #00C4FF;
}
.u12 {

  opacity: 0;
  color: #00C4FF;
}
.u13 {

  opacity: 0;
  color: #00C4FF;
}
.u14 {

  opacity: 0;
  color: #00C4FF;
}
.u15 {

  opacity: 0;
  color: #FF00C0;
}
.im{
  position :absolute ;
  top:20%;
  left:100%;
  width :500px;
}
#one{
  display :none ;
}
#two{
  display:none;
}
#three {
  display: none;
}
